VEX.vt2000.lokaal                   OK
mail01.community.engage.redhat.com  OK
punten.ing.nl                       OK
sendgrid.net                        OK
update.strava.com                   OK
mx1.reshift.nl                      OK
