212.48.93.169              OK
green6209.server-cp.com    OK
cybertill-cloud.co.uk      OK
punten.ing.nl              OK
sendgrid.net               OK
149.72.32.143              OK
80.73.132.220              OK
update.strava.com          OK
37.153.243.98              OK
